<script>
import { PageContentable } from '../page'
import { ListPageContentable } from '../list-page'
import CreateDialog from 'dialogs/create-dialog'
import DataListFilter from 'components/data-list/filter'
import SmartList from 'components/smart-list'
import ObjectListItem from 'list-items/object-list-item'
import User from 'mixins/models/user'
import { routeFor } from 'helpers/route'

export default {
  name: 'UserListContent',
  components: { CreateDialog, DataListFilter, SmartList, ObjectListItem },
  mixins: [PageContentable, ListPageContentable, User],
  computed: {
    result () {
      return this.value ? this.value.result : undefined
    }
  },
  methods: {
    ...{ routeFor },
    onCreated (user) {
      this.$router.push(routeFor('user_settings', user.id))
    }
  }
}
</script>
<template>
  <div>
    <div
      class="d-flex justify-space-between mt-4"
      style="position: relative"
    >
      <h1 class="text-h4 font-weight-light pt-1">
        Nutzer
      </h1>

      <create-dialog
        :title="$t('user.createDialog.title')"
        :ok-btn-text="$t('user.createDialog.buttonOk')"
        :fields="{
          email: { type: 'string', required: true, default: '', label: $t('user.createDialog.fields.email') },
          firstname: { type: 'string', required: true, default: '', label: $t('user.createDialog.fields.firstname') },
          lastname: { type: 'string', required: true, default: '', label: $t('user.createDialog.fields.lastname') },
          password: { type: 'password', required: true, default: '', label: $t('user.createDialog.fields.password') },
          password_confirmation: { type: 'password', required: true, default: '', label: $t('user.createDialog.fields.password_confirmation') }
        }"
        :request-parameter="{method: 'post', url: $apiEndpoints.users.create()}"
        content-class="create-user-dialog"
        @success="onCreated"
      >
        <template #activator="{ on }">
          <v-btn
            color="primary"
            text
            v-on="on"
          >
            {{ $t('user.actions.create') }}
          </v-btn>
        </template>
      </create-dialog>
    </div>

    <data-list-filter
      v-model="filters"
      @update:filter="$emit('update:prop', { prop: 'filters', value: $event.value, info: $event.field })"
    />

    <smart-list
      v-slot="{ item }"
      :value="result"
      :loading="pageRequestLoading"
    >
      <object-list-item
        :value="userBusinessObjectFor(item)"
        :to="routeFor('user_settings', item.id)"
        indent
        :dense="false"
        divider
      />
    </smart-list>

    <v-pagination
      v-if="!pageRequestLoading && result && pages.total() > 1"
      v-model="pages.current"
      :length="pages.total()"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'pages', value: pages })"
    />
  </div>
</template>
