<script>
import { PageContentable } from '../page'
import Breadcrumbs from 'components/breadcrumbs'
import PageDetailHeader from 'components/page-detail-header'
import KebabMenu from 'components/kebab-menu'
import User from 'mixins/models/user'

export default {
  name: 'UserSettingsHeader',
  components: {
    Breadcrumbs,
    PageDetailHeader,
    KebabMenu
  },
  mixins: [PageContentable, User],
  computed: {
    user () {
      return this.value
    }
  },
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <breadcrumbs :items="userBreadcrumbs" />

    <page-detail-header
      :state-text="userStateText"
      :state-updated-at="userStateUpdatedAtDate"
      :state-color="userStateColor.background"
      :has-left-sidebar="hasLeftSidebar"
      :has-right-sidebar="hasRightSidebar"
      @open-sidebar="$emit('open-sidebar', $event)"
    >
      <template #actions="{actionRequest, loading}">
        <kebab-menu
          v-if="$config.current_user.isAdmin && !$config.isCurrentUser(user)"
          :disabled="loading"
          color="primary"
        >
          <template #items>
            <v-list-item @click="actionRequest($apiEndpoints.userSettings.updateActiveStatus(value.id), onUpdated, 'patch', null, { active: !userIsActive })">
              <v-list-item-title>{{ userIsActive ? $t('user.detailActions.deactivate') : $t('user.detailActions.activate') }}</v-list-item-title>
            </v-list-item>
          </template>
        </kebab-menu>
      </template>
    </page-detail-header>

    <h1 class="text-h4 font-weight-light mb-4">
      {{ userFullname }} ({{ user.email }})
    </h1>
  </div>
</template>
