<script>
import { PageContentable } from '../page'
import { ListPageContentable } from '../list-page'
import CreateDialog from 'dialogs/create-dialog'
import DataListFilter from 'components/data-list/filter'
import SmartList from 'components/smart-list'
import ObjectListItem from 'list-items/object-list-item'
import { routeFor } from 'helpers/route'

export default {
  name: 'GroupListContent',
  components: { CreateDialog, DataListFilter, SmartList, ObjectListItem },
  mixins: [PageContentable, ListPageContentable],
  computed: {
    result () {
      return this.value ? this.value.result : undefined
    }
  },
  methods: {
    ...{ routeFor },
    onCreated (group) {
      this.$router.push(routeFor('group', group.id))
    }
  }
}
</script>
<template>
  <div>
    <div
      class="d-flex justify-space-between mt-4"
      style="position: relative"
    >
      <h1 class="text-h4 font-weight-light pt-1">
        Gruppen
      </h1>

      <create-dialog
        :title="$t('group.createDialog.title')"
        :ok-btn-text="$t('group.createDialog.buttonOk')"
        :fields="{
          name: { type: 'string', required: true, default: '', label: $t('group.createDialog.fields.name') }
        }"
        :request-parameter="{method: 'post', url: $apiEndpoints.groups.create()}"
        content-class="create-group-dialog"
        @success="onCreated"
      >
        <template #activator="{ on }">
          <v-btn
            color="primary"
            text
            v-on="on"
          >
            {{ $t('group.actions.create') }}
          </v-btn>
        </template>
      </create-dialog>
    </div>

    <data-list-filter
      v-model="filters"
      @update:filter="$emit('update:prop', { prop: 'filters', value: $event.value, info: $event.field })"
    />

    <smart-list
      v-slot="{ item }"
      :value="result"
      :loading="pageRequestLoading"
    >
      <object-list-item
        :value="{
          id: item.id,
          title: item.name,
          subtitleElements: [`${item.userCount} Nutzer`, `${item.workflowDefinitionCount} Maßnahmevorlagen`]
        }"
        :to="routeFor('group', item.id)"
        indent
        :dense="false"
        divider
      />
    </smart-list>

    <v-pagination
      v-if="!pageRequestLoading && result && pages.total() > 1"
      v-model="pages.current"
      :length="pages.total()"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'pages', value: pages })"
    />
  </div>
</template>
