<script>
import ListItemTemplate from './list-item-template'

export default {
  name: 'DossierListItem',
  components: { ListItemTemplate },
  props: {
    ...ListItemTemplate.props
  }
}
</script>
<template>
  <list-item-template
    skeleton-type="list-item-avatar-two-line"
    two-line
    v-bind="$props"
    @click="$emit('click', $event)"
  >
    <v-list-item-content>
      <template v-if="!value.deleted">
        <v-list-item-title class="d-flex align-end">
          {{ value.title }}
          <v-list-item-action-text class="ml-auto">
            {{ value.definition.name }}
          </v-list-item-action-text>
        </v-list-item-title>
        <v-list-item-subtitle>
          {{ value.subtitle }}
        </v-list-item-subtitle>
      </template>
      <template v-else>
        <v-list-item-title class="d-flex align-end text--disabled">
          Gelöschtes Dossier
          <v-list-item-action-text class="ml-auto">
            {{ value.definition.name }}
          </v-list-item-action-text>
        </v-list-item-title>
        <v-list-item-subtitle class="custom-meta-list text--disabled">
          {{ `*${value.id}` }}
        </v-list-item-subtitle>
      </template>
      <v-list-item-subtitle
        v-if="$scopedSlots.snippets"
        class="mt-6 ml-4"
      >
        <slot name="snippets" />
      </v-list-item-subtitle>
    </v-list-item-content>
  </list-item-template>
</template>
