<script>
import ListItemTemplate from './list-item-template'
import join from 'lodash/join'

export default {
  name: 'DossierFieldDefinitionListItem',
  components: {
    ListItemTemplate
  },
  props: {
    ...ListItemTemplate.props
  },
  computed: {
    attributes () {
      const res = []
      if (this.value.required) res.push('Erforderlich')
      if (this.value.recommended) res.push('Empfohlen')
      if (this.value.unique) res.push('Eindeutig')

      return join(res, ', ')
    }
  }
}
</script>
<template>
  <list-item-template
    skeleton-type="list-item-avatar-two-line"
    two-line
    v-bind="$props"
  >
    <v-list-item-icon v-if="$scopedSlots.icon">
      <slot name="icon" />
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title>{{ value.name }}</v-list-item-title>
      <v-list-item-subtitle>{{ value.type.label }}</v-list-item-subtitle>
    </v-list-item-content>

    <v-list-item-action>
      <v-list-item-action-text>
        <span>{{ attributes }}</span>
        <slot name="actions" />
      </v-list-item-action-text>
    </v-list-item-action>
  </list-item-template>
</template>
