<script>
import ListItemTemplate from './list-item-template'
import Avatar from 'components/avatar'
import Task from 'mixins/models/task'
import Workflow from 'mixins/models/workflow'
import User from 'mixins/models/user'
import { distanceDate, formatDateTime } from 'helpers/date'
import { isPast } from 'date-fns'

export default {
  name: 'TaskListItem',
  components: { ListItemTemplate, Avatar },
  mixins: [Task, Workflow, User],
  props: {
    ...ListItemTemplate.props,
    sidebar: Boolean,
    contentClass: {
      type: String,
      default: ''
    },
    designMode: Boolean
  },
  computed: {
    task () {
      return this.value
    },
    workflow () {
      return this.task.workflow
    },
    stateUpdatedAtText () {
      return formatDateTime(this.taskStateUpdatedAtDate)
    },
    stateUpdatedAtDistance () {
      return distanceDate(this.taskStateUpdatedAtDate)
    },
    isDue () {
      return isPast(this.taskDueAtDate)
    },
    showDueDate () {
      return this.task.dueAt && (this.workflowIsActive && this.taskIsOpen)
    }
  }
}
</script>
<template>
  <list-item-template
    skeleton-type="list-item-avatar-two-line"
    two-line
    v-bind="$props"
    :item-class="sidebar ? 'pl-1' : undefined"
    @click="$emit('click', $event)"
  >
    <v-icon
      v-if="designMode"
      :disabled="disabled"
      color="purple lighten-2"
      class="handle"
    >
      mdi-drag-horizontal
    </v-icon>
    <v-list-item-content :class="[{'mx-2': sidebar}, contentClass]">
      <v-list-item-subtitle
        v-if="!sidebar"
        class="text-body-2 mb-2"
      >
        {{ workflow.definition.name }} > {{ workflow.title }}
      </v-list-item-subtitle>
      <v-list-item-title class="text-subtitle-1">
        {{ task.name }}
      </v-list-item-title>
      <v-list-item-subtitle class="custom-meta-list">
        <div>{{ taskIdentifier }}</div>

        <div v-if="sidebar">
          <v-tooltip bottom>
            <template #activator="{ on }">
              <span
                :class="taskStateColorFor(task, workflowIsActive).text"
                v-on="on"
              >{{ taskStateText }}</span>
            </template>
            <span>{{ stateUpdatedAtText }}</span>
          </v-tooltip>
        </div>
        <div v-else>
          <span :class="taskStateColorFor(task, workflowIsActive).text">{{ taskStateText }}</span>
          <span>{{ stateUpdatedAtDistance }}</span>
        </div>

        <div
          v-if="task.commentsCount"
          class="d-flex align-center"
        >
          <v-icon
            class="mr-1"
            size="14"
          >
            mdi-comment-outline
          </v-icon>
          <span>{{ sidebar ? task.commentsCount : $tc('general.commentsCount', task.commentsCount) }}</span>
        </div>

        <template v-if="showDueDate">
          <div
            v-if="sidebar && task.dueAt"
            class="d-flex align-center"
          >
            <v-tooltip bottom>
              <template #activator="{ on }">
                <v-icon
                  :color="isDue ? 'red' : null"
                  size="14"
                  v-on="on"
                >
                  mdi-alarm
                </v-icon>
              </template>
              <span>{{ taskDueDistanceText }}</span>
            </v-tooltip>
          </div>
          <div
            v-if="!sidebar && task.dueAt"
            class="d-flex align-center"
            :class="{'red--text': isDue}"
          >
            <v-icon
              class="mr-1"
              :color="isDue ? 'red' : null"
              size="14"
            >
              mdi-alarm
            </v-icon>
            <span>{{ taskDueDistanceText }}</span>
          </div>
        </template>

        <div v-if="task.marked">
          <v-icon
            size="14"
          >
            mdi-bookmark
          </v-icon>
        </div>
      </v-list-item-subtitle>
      <v-list-item-subtitle
        v-if="$scopedSlots.snippets"
        class="mt-6 ml-4"
      >
        <slot name="snippets" />
      </v-list-item-subtitle>
    </v-list-item-content>

    <avatar
      v-if="task.assignee"
      :text="task.assignee.avatar.label"
      :image="task.assignee.avatar.url"
      :tooltip-title="userFullnameFor(task.assignee)"
      :tooltip-subtitle="task.assignee.email"
      :class="{'mr-2': !sidebar}"
      list
    />
  </list-item-template>
</template>
