<script>
export default {
  name: 'CustomDialog',
  props: {
    value: Boolean,
    title: { type: String, required: true },
    text: { type: String, default: undefined },
    cancelBtnText: {
      type: String,
      default: 'Abbrechen'
    },
    cancelBtnColor: {
      type: String,
      default: 'secondary'
    },
    okBtnText: {
      type: String,
      default: 'OK'
    },
    okBtnColor: {
      type: String,
      default: 'primary'
    },
    okBtnDisabled: {
      type: Boolean,
      default: false
    },
    closeOnButtonClick: {
      type: Boolean,
      default: true
    },
    fullheight: Boolean,
    fullwidth: Boolean,
    loading: Boolean,
    errorMessage: {
      type: String,
      default: undefined
    },
    contentClass: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      internalValue: false
    }
  },
  computed: {
    contentClasses () {
      const classes = ['custom-dialog']

      if (this.fullheight) classes.push('custom-dialog--fullheight')
      if (this.fullwidth) classes.push('custom-dialog--fullwidth')
      if (this.contentClass) classes.push(this.contentClass)

      return classes.join(' ')
    }
  },
  watch: {
    value: {
      handler (val) {
        if (this.internalValue !== val) {
          this.internalValue = val
          this.onInputUpdated(val)
        }
      },
      immediate: true
    }
  },
  methods: {
    onCancelBtnClicked () {
      if (this.closeOnButtonClick) {
        this.internalValue = false
        this.onInputUpdated(false)
      }
      this.$emit('click-cancel')
    },
    onOkBtnClicked () {
      if (this.closeOnButtonClick) {
        this.internalValue = false
        this.onInputUpdated(false)
      }

      this.$emit('click-ok')
    },
    onInputUpdated (val) {
      this.$emit('input', val)

      this.$emit(val ? 'open' : 'close')
    }
  }
}
</script>
<template>
  <v-dialog
    v-model="internalValue"
    :content-class="contentClasses"
    persistent
    max-width="960"
    @input="onInputUpdated"
  >
    <template
      v-if="$scopedSlots.activator"
      #activator="{ on }"
    >
      <slot
        name="activator"
        :on="on"
      />
    </template>
    <v-card :loading="loading">
      <v-card-title v-if="title">
        {{ title }}
      </v-card-title>
      <v-card-text v-if="$scopedSlots.default">
        <slot />
      </v-card-text>
      <v-card-text v-else-if="text">
        {{ text }}
      </v-card-text>
      <v-card-actions>
        <div
          v-if="errorMessage"
          class="error--text"
        >
          {{ errorMessage }}
        </div>
        <v-spacer />
        <v-btn
          v-if="cancelBtnText"
          :color="cancelBtnColor"
          :disabled="loading"
          text
          @click="onCancelBtnClicked"
        >
          {{ cancelBtnText }}
        </v-btn>
        <v-btn
          v-if="okBtnText"
          :color="okBtnColor"
          :disabled="loading || okBtnDisabled"
          depressed
          @click="onOkBtnClicked"
        >
          {{ okBtnText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style lang="scss">
.custom-dialog--fullheight {
  height: 90%;
  overflow-y: unset;

  & > .v-card {
    display: flex;
    flex-direction: column;
    height: 100%;

    .v-card__text {
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}
.custom-dialog--fullheight, .custom-dialog--fullwidth {
  width: 100%;
}
</style>
