<script>
import { routeFor } from 'helpers/route'

export default {
  name: 'Mention',
  props: {
    mId: {
      type: String,
      required: true
    },
    mType: {
      type: String,
      required: true
    },
    noaccess: Boolean,
    deleted: Boolean
  },
  computed: {
    route () {
      return routeFor(this.mType, this.mId)
    }
  }
}
</script>
<template>
  <router-link
    v-if="!noaccess && !deleted"
    :to="route"
    class="blue lighten-5 primary--text object-link object-link--chip"
  ><slot /></router-link>
  <span
    v-else
    class="grey lighten-3 object-link--chip"
  >
    <s v-if="deleted"><slot /></s>
    <slot v-else />
  </span>
</template>
