<script>
import Vue from 'vue'
import { PageContentable } from '../page'
import { ListPageContentable } from '../list-page'
import Requestable from 'mixins/requestable'
import Request from 'api/request'
import DataListFilter from 'components/data-list/filter'
import ActivityHubItem from 'components/activity-hub/activity-hub-item'
import { routeFor } from 'helpers/route'

export default {
  name: 'NotificationListContent',
  components: { DataListFilter, ActivityHubItem },
  mixins: [PageContentable, ListPageContentable],
  data () {
    return {
      notificationRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (notifications) => {
            this.$emit('input', notifications)
          }
        }
      })
    }
  },
  computed: {
    result () {
      return this.value ? this.value.result : []
    }
  },
  watch: {
    result: {
      handler (value) {
        if (document.visibilityState === 'visible' && document.hasFocus()) {
          const undeliveredNotifications = value.filter(notification => !notification.delivered_at)
          undeliveredNotifications.forEach(notification => {
            this.sendDeliveredRequest(notification.id)
          })
        }
      },
      immediate: true
    }
  },
  methods: {
    ...{ routeFor },
    updateFilter (value, field) {
      this.$emit('update:prop', { prop: 'filter', value: value, info: field })
    },
    sendDeliveredRequest (id) {
      const requestable = new (Vue.extend(Requestable))()
      requestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.delivered(id) })
    },
    sendReadRequest (id) {
      const requestable = new (Vue.extend(Requestable))()
      requestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.read(id) })
    },
    sendBookmarkRequest (id) {
      this.notificationRequestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.bookmark(id), params: { page: this.pages.current, tab_category: this.filters.values.tab_category } })
    },
    sendUnBookmarkRequest (id) {
      this.notificationRequestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.unbookmark(id), params: { page: this.pages.current, tab_category: this.filters.values.tab_category } })
    },
    sendDoneRequest (id) {
      this.notificationRequestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.done(id), params: { page: this.pages.current, tab_category: this.filters.values.tab_category } })
    }
  }
}
</script>
<template>
  <div>
    <div class="mt-4 d-flex justify-space-between">
      <h1 class="pt-1 text-h4 font-weight-light">
        Benachrichtigungen
      </h1>
    </div>

    <data-list-filter
      v-model="filters"
      @update:filter="$emit('update:prop', { prop: 'filters', value: $event.value, info: $event.field })"
    />

    <v-timeline
      v-if="!pageRequestLoading && !pageRequestHasError && result.length"
      class="ml-n5"
      dense
    >
      <template v-for="notification in result">
        <!-- The replaceAll in the router-link :to is a hack and should be generalized/formalized , same in snackbars.vue/standalone-event.vue -->
        <router-link
          :key="notification.id"
          :style="notification.event.target.noaccess || notification.event.target.deleted ? 'cursor: not-allowed' : ''"
          :to="routeFor(notification.event.target.object_type, notification.event.target.object_id, { query: { event: notification.event.target.event }, hash:
            notification.event.target.hash })"
          :title="notification.event.target.noaccess || notification.event.target.deleted ? 'gelöscht/kein Zugriff' : 'Öffnen'"
        >
          <activity-hub-item
            :event="notification.event"
            :unread="!notification.read_at"
          >
            <template #actions>
              <v-hover
                v-if="!notification.bookmarked_at"
                v-slot="{ hover }"
              >
                <v-btn
                  icon
                  title="Merken"
                  @click.prevent="sendBookmarkRequest(notification.id)"
                >
                  <v-icon color="grey lighten-1">
                    {{ hover ? "mdi-bookmark-plus-outline" : "mdi-bookmark-outline" }}
                  </v-icon>
                </v-btn>
              </v-hover>
              <v-hover
                v-if="notification.bookmarked_at"
                v-slot="{ hover }"
              >
                <v-btn
                  icon
                  title="Nicht mehr merken"
                  @click.prevent="sendUnBookmarkRequest(notification.id)"
                >
                  <v-icon color="blue lighten-1">
                    {{ hover ? "mdi-bookmark-minus" : "mdi-bookmark" }}
                  </v-icon>
                </v-btn>
              </v-hover>
              <v-btn
                v-if="filters.values.tab_category !== 'DONE'"
                icon
                title="Erledigt"
                @click.prevent="sendDoneRequest(notification.id)"
              >
                <v-icon color="grey lighten-1">
                  mdi-close
                </v-icon>
              </v-btn>
            </template>
          </activity-hub-item>
        </router-link>
      </template>
    </v-timeline>

    <div
      v-if="pageRequestLoading"
      class="py-6 text-center"
    >
      <v-progress-circular
        color="primary"
        indeterminate
      />
    </div>

    <v-pagination
      v-if="!pageRequestLoading && result && pages.total() > 1"
      v-model="pages.current"
      :length="pages.total()"
      circle
      class="mt-6"
      @input="$emit('update:prop', { prop: 'pages', value: pages })"
    />

    <p
      v-if="filters.values.tab_category == 'NEW'"
      class="mt-4 text-center"
    >
      Samarbeid räumt die Benachrichtigungen automatisch für Dich auf.
    </p>
    <p
      v-if="filters.values.tab_category == 'BOOKMARKED'"
      class="mt-4 text-center"
    >
      Samarbeid hebt gemerkte Benachrichtigungen für Dich auf.
    </p>
    <p
      v-if="filters.values.tab_category == 'DONE'"
      class="mt-4 text-center"
    >
      Samarbeid löscht alte Benachrichtigungen automatisch für Dich.
    </p>
  </div>
</template>
<style>
/* This combination of reducing the padding-top of the timeline and the padding-bottom of the items while adding margin-top and padding-top to the timeline>a keeps the placement exactly as before while having the hover-background centered */
.v-timeline {
  padding-top: 8px!important;
}
.v-timeline > a:hover {
  background-color: #f5f5f5;
  border-radius: 4px;
}
.v-timeline > a {
  display: block;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  text-decoration: none;
}
.v-timeline > a > .v-timeline-item {
  padding-bottom: 0.5rem;
}
.v-timeline > a > .v-timeline-item > .v-timeline-item__body > div > .ml-2 {
  /* this is the actions slot */
  margin-right: 8px; /* don't touch the side of the hover-background */
  flex-shrink: 0; /* don't line-break buttons if content is too big */
}
.v-timeline > a > .v-timeline-item .v-timeline-item__dot {
  border: 1px solid transparent;
  box-sizing: content-box;
}
.v-timeline > a:hover > .v-timeline-item .v-timeline-item__dot {
  border: 1px solid #bdbdbd;
  box-sizing: content-box;
}
</style>
