<script>
import ErrorDialog from 'components/error-dialog'
import ObsoleteEventBanner from 'components/obsolete-event-banner'

export default {
  name: 'PageContent',
  inject: {
    components: {
      default: { ErrorDialog, ObsoleteEventBanner }
    }
  }
}
</script>
<template functional>
  <v-main :class="[data.class, data.staticClass]">
    <v-container
      style="max-width: 960px;"
      class="pb-8"
    >
      <component :is="injections.components.ObsoleteEventBanner" />
      <component :is="injections.components.ErrorDialog" />
      <slot />
    </v-container>
  </v-main>
</template>
