<script>
import { PageContentable } from '../page'
import { routeFor } from 'helpers/route'

export default {
  name: 'DossierDefinitionEditSidebarLeft',
  mixins: [PageContentable],
  methods: {
    ...{ routeFor }
  }
}
</script>
<template>
  <v-list
    v-if="value"
    class="pa-0"
  >
    <v-list-item
      :to="routeFor('dossier_definition', value.id)"
      exact
    >
      <v-list-item-content>
        <v-list-item-title>
          Allgemein
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider />

    <v-list-item
      :to="routeFor('dossier_definition_groups', value.id)"
      exact
    >
      <v-list-item-content>
        <v-list-item-title>
          Gruppen
        </v-list-item-title>
      </v-list-item-content>
      <v-list-item-avatar>
        <v-chip
          pill
          :color="$route.name === 'dossier-definition-groups' ? 'white': undefined"
        >
          {{ String(value.groups.length) }}
        </v-chip>
      </v-list-item-avatar>
    </v-list-item>
  </v-list>
</template>
