<script>
import { PageContentable } from '../page'
import ObjectsControl from 'controls/objects-control'
import ObjectListItem from 'list-items/object-list-item'

export default {
  name: 'DossierDefinitionEditContent',
  components: {
    ObjectsControl,
    ObjectListItem
  },
  mixins: [PageContentable],
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <objects-control
      v-model="value.groups"
      label="Gruppen"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.dossierDefinitions.update(value.id), mapping: 'group_ids'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.groups.list()}"
      @request-success-data="onUpdated"
    >
      <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
        <object-list-item
          :key="item.id"
          :indent="indent"
          :item-link="itemLink"
          :selectable="selectable"
          :selected="selected"
          :skeleton="item.skeleton"
          :value="{
            title: item.name,
            subtitleElements: [`${item.userCount} Nutzer`, `${item.workflowDefinitionCount} Maßnahmevorlagen`]
          }"
          @click="toggleElement ? toggleElement(item) : {}"
        />
      </template>
    </objects-control>
  </div>
</template>
