<script>
import VSnackbars from 'v-snackbars'
import StandaloneEvent from './standalone-event'
import Vue from 'vue'
import Requestable from 'mixins/requestable'
import Request from 'api/request'
import { routeFor } from 'helpers/route'

export default {
  name: 'Snackbars',
  components: {
    'v-snackbars': VSnackbars,
    'standalone-event': StandaloneEvent
  },
  data () {
    return {
      newNotifications: []
    }
  },
  channels: {
    NotificationChannel: {
      connected () { },
      rejected () { console.log("Couldn't connect to NotificationChannel") },
      received (data) {
        console.log('NotificationChannel received data:', data)
        if (document.visibilityState === 'visible' && document.hasFocus()) {
          this.sendDeliveredRequest(data.id)
        }
        this.newNotifications.push(data)
      },
      disconnected () {}
    }
  },
  mounted () {
    this.$cable.subscribe({
      channel: 'NotificationChannel'
    })
  },
  methods: {
    ...{ routeFor },
    sendDeliveredRequest (id) {
      const requestable = new (Vue.extend(Requestable))()
      requestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.delivered(id) })
    },
    sendReadRequest (id) {
      const requestable = new (Vue.extend(Requestable))()
      requestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.read(id) })
    },
    sendDoneRequest (id) {
      const requestable = new (Vue.extend(Requestable))()
      requestable.request({ method: Request.PATCH, url: this.$apiEndpoints.notifications.done(id) })
    }
  }
}
</script>
<template>
  <v-snackbars
    :messages.sync="newNotifications"
    :timeout="10000"
    color="white"
    light
    multi-line
    vertical
    top
    right
  >
    <template #default="{ message }">
      <standalone-event
        :event="message.event"
        :to="routeFor(message.event.target.object_type, message.event.target.object_id, { query: { event: message.event.target.event }, hash:
          message.event.target.hash })"
      />
    </template>
    <template #action="{ close, message }">
      <v-btn
        text
        @click="sendDoneRequest(message.id);close()"
      >
        Erledigt
      </v-btn>
      <v-btn
        text
        @click="sendReadRequest(message.id);close()"
      >
        Schließen
      </v-btn>
    </template>
  </v-snackbars>
</template>
