@import '~vuetify/src/styles/styles'

+theme(base-control) using ($material)
  display: block

  & > .base-control__header
    display: flex
    align-items: center
    justify-content: space-between

    & > .v-label
      transform-origin: top left

      &--active
        transform: scale(0.75)

  & > .v-input__control
    & > .base-control__details
      display: flex
      flex: 1 0 auto
      max-width: 100%
      min-height: 14px
      overflow: hidden

    & > .v-input__slot
      &:before,
      &:after
        bottom: -1px // Needed for browser autocomplete styles
        content: ''
        left: 0
        position: absolute
        transition: $primary-transition
        width: 100%

      &:before
        border-color: map-get($material, 'input-bottom-line')
        border-style: solid
        border-width: thin 0 0 0

      &:after
        border-color: currentColor
        border-style: solid
        border-width: thin 0 thin 0
        transform: scaleX(0)

  &.v-input--is-disabled .v-input__slot::before
    border-image: repeating-linear-gradient(to right, #{map-deep-get($material, 'text', 'disabled')} 0px, #{map-deep-get($material, 'text', 'disabled')} 2px, transparent 2px, transparent 4px) 1 repeat
