<script>
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import CustomDialog from 'components/custom-dialog'
import Richtextarea from 'controls/richtextarea/richtextarea'

export default {
  name: 'AddTaskDialog',
  components: { CustomDialog, Richtextarea },
  mixins: [Requestable],
  props: {
    ...requestablePropFactory().props
  },
  data () {
    return {
      dialogOpen: false,
      name: '',
      description: ''
    }
  },
  methods: {
    onDialogOpened () {
      this.name = ''
      this.description = ''
      this.resetRequestable()

      this.$emit('open')
    },
    onRequestSuccess (data) {
      this.dialogOpen = false

      if (data) {
        this.$emit('request-success-data', data)
      }
    }
  }
}
</script>
<template>
  <custom-dialog
    v-model="dialogOpen"
    title="Aufgabe hinzufügen"
    fullheight
    :close-on-button-click="false"
    :ok-btn-disabled="name.trim().length === 0"
    :loading="requestableLoading"
    :error-message="baseErrorMessage"
    @click-ok="request(requestParameter, null, { name: name, description: description })"
    @click-cancel="dialogOpen = false"
    @open="onDialogOpened"
  >
    <template
      v-if="$scopedSlots.activator"
      #activator="{ on }"
    >
      <slot
        name="activator"
        :on="on"
      />
    </template>
    <v-text-field
      v-model="name"
      :label="$t('general.title')"
      :hint="$t('general.field.required')"
      persistent-hint
      :disabled="requestableLoading"
      :error-messages="validationErrorMessageFor('name')"
      :error-count="Number.MAX_VALUE"
      class="mb-5"
    />
    <richtextarea
      v-model="description"
      :label="$t('general.description')"
      :disabled="requestableLoading"
      :error-messages="validationErrorMessageFor('description')"
      :error-count="Number.MAX_VALUE"
    />
  </custom-dialog>
</template>
