<script>
import Vue from 'vue'
import Request from 'api/request'
import Requestable from 'mixins/requestable'
import CustomDialog from 'components/custom-dialog'
import WorkflowDefinitionListItem from 'list-items/workflow-definition-list-item'
import TextControl from 'controls/text-control'
import UsersControl from 'controls/users-control'
import debounce from 'lodash/debounce'
import map from 'lodash/map'

export default {
  name: 'CreateWorkflowDialog',
  components: {
    CustomDialog,
    WorkflowDefinitionListItem,
    TextControl,
    UsersControl
  },
  props: {
    ambitionId: {
      type: Number,
      default: undefined
    },
    predecessorWorkflowId: {
      type: Number,
      default: undefined
    }
  },
  data () {
    return {
      dialogOpen: false,
      step: 1,
      queryText: null,
      queryItems: [],
      selectedDefinition: null,
      queryMaxResults: 10,
      definitionQueryRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (definitions) => {
            this.queryItems = definitions
          }
        }
      }),
      newRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (workflow) => {
            this.workflow = workflow
          }
        }
      }),
      createRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (data) => {
            this.dialogOpen = false
            this.$emit('success', data)
          }
        }
      }),
      workflow: null
    }
  },
  computed: {
    title () {
      return this.selectedDefinition?.name || this.$t('workflow.createDialog.title')
    },
    errorMessage () {
      return this.definitionQueryRequestable.baseErrorMessage ||
          this.newRequestable.baseErrorMessage || this.createRequestable.baseErrorMessage
    },
    hintMessage () {
      if (this.queryItems.length < this.queryMaxResults) {
        return null
      } else {
        return 'Mehr Ergebnisse verfügbar. Bitte verfeinern Sie Ihre Suche.'
      }
    },
    isValid () {
      if (this.workflow) {
        return this.workflow.title && this.workflow.title.trim().length > 0
      }

      return false
    },
    workflowGroupIds () { return map(this.workflow.groups, 'id') }
  },
  methods: {
    onDialogOpened () {
      this.step = undefined
      this.queryText = ''

      this.gotoStep(1)
      this.query()

      this.$emit('open')
    },
    onDialogClosed () {
      this.definitionQueryRequestable.cancelRequestable()
      this.newRequestable.cancelRequestable()
    },
    gotoStep (step) {
      if (this.step !== step) {
        this.step = step

        this.definitionQueryRequestable.resetRequestable()
        this.newRequestable.resetRequestable()
        this.createRequestable.resetRequestable()

        if (this.step === 1) {
          this.selectedDefinition = null
          this.workflow = null
        } else if (this.step === 2) {
          this.newRequestable.request({ method: Request.GET, url: this.$apiEndpoints.workflows.new() },
            { workflow_definition_id: this.selectedDefinition.id }, null, true)
        }
      }
    },
    selectAndShowDefinitionDetails (definition) {
      this.selectedDefinition = definition
      this.gotoStep(2)
    },
    query () {
      this.queryItems = []
      this.definitionQueryRequestable.request(
        { method: Request.GET, url: this.$apiEndpoints.workflowDefinitions.list() },
        {
          except: [],
          query: this.queryText,
          max_result_count: this.queryMaxResults
        }, null, true)
    },
    queryTextChanged: debounce(function () {
      this.query()
    }, 500),
    createWorkflow () {
      this.createRequestable.request(
        { method: Request.POST, url: this.$apiEndpoints.workflows.create() },
        null,
        {
          workflow_definition_id: this.selectedDefinition.id,
          ambition_id: this.ambitionId,
          predecessor_workflow_id: this.predecessorWorkflowId,
          workflow: {
            title: this.workflow.title,
            assignee_id: this.workflow.assignee?.id
          }
        }
      )
    }
  }
}
</script>
<template>
  <custom-dialog
    v-model="dialogOpen"
    :title="title"
    fullheight
    :close-on-button-click="false"
    :cancel-btn-text="step === 1 ? undefined : $t('workflow.createDialog.buttonBack')"
    :ok-btn-text="step === 1 ? null : $t('workflow.createDialog.buttonOk')"
    :ok-btn-disabled="!isValid"
    :loading="createRequestable.requestableLoading"
    :error-message="errorMessage"
    content-class="create-workflow-dialog"
    @click-ok="createWorkflow"
    @click-cancel="step === 1 ? dialogOpen = false : gotoStep(step - 1)"
    @open="onDialogOpened"
    @close="onDialogClosed"
  >
    <template
      v-if="$scopedSlots.activator"
      #activator="{ on }"
    >
      <slot
        name="activator"
        :on="on"
      />
    </template>
    <v-window
      v-model="step"
      style="overflow: visible;"
    >
      <v-window-item :value="1">
        <div style="position: sticky; top: 0; z-index: 1; background-color: #fff;">
          <v-text-field
            v-model="queryText"
            :error-messages="definitionQueryRequestable.errorMessage"
            :hint="hintMessage"
            autofocus
            clearable
            class="pt-1"
            label="Suche"
            outlined
            persistent-hint
            @input="queryTextChanged"
          />
          <v-divider class="pb-2" />
        </div>
        <v-list class="py-0">
          <template v-if="!definitionQueryRequestable.requestableLoading">
            <template v-if="queryItems.length > 0">
              <v-subheader>Verfügbare Maßnahmevorlagen</v-subheader>
              <workflow-definition-list-item
                v-for="definition in queryItems"
                :key="definition.id"
                :value="definition"
                @click="selectAndShowDefinitionDetails"
              />
            </template>
            <v-list-item v-else>
              <v-list-item-content class="text-center">
                Keine Ergebnisse
              </v-list-item-content>
            </v-list-item>
          </template>
          <v-list-item v-else>
            <v-list-item-content class="text-center">
              <v-progress-circular
                color="primary"
                indeterminate
              />
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-window-item>
      <v-window-item :value="2">
        <div v-if="selectedDefinition">
          {{ selectedDefinition.description }}
          <div class="mt-6">
            <template v-if="!newRequestable.requestableLoading && workflow">
              <text-control
                v-model="workflow.title"
                label="Titel der Maßnahme"
                required
                :disabled="createRequestable.requestableLoading"
                :error-messages="createRequestable.validationErrorMessageFor('title')"
                class="mb-5"
              />
              <users-control
                v-model="workflow.assignee"
                :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list(), params: {group_ids: workflowGroupIds}}"
                label="Verantwortlicher"
                single
                :disabled="createRequestable.requestableLoading"
                :error-messages="createRequestable.validationErrorMessageFor('assignee')"
                :to="() => undefined"
              />
            </template>
            <div
              v-else
              class="text-center"
            >
              <v-progress-circular
                color="primary"
                indeterminate
              />
            </div>
          </div>
        </div>
      </v-window-item>
    </v-window>
  </custom-dialog>
</template>
