<script>
import Vue from 'vue'
import Request from 'api/request'
import Requestable from 'mixins/requestable'
import CustomDialog from 'components/custom-dialog'
import TextControl from 'controls/text-control'
import RichtextareaControl from 'controls/richtextarea-control'
import ObjectsControl from 'controls/objects-control'
import ObjectListItem from 'list-items/object-list-item'
import map from 'lodash/map'

export default {
  name: 'CreateWorkflowDefinitionDialog',
  components: {
    CustomDialog,
    TextControl,
    RichtextareaControl,
    ObjectsControl,
    ObjectListItem
  },
  data () {
    return {
      dialogOpen: false,
      createRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (data) => {
            this.dialogOpen = false
            this.$emit('success', data)
          }
        }
      }),
      workflowDefinition: null
    }
  },
  computed: {
    isValid () {
      if (this.workflowDefinition) {
        return this.workflowDefinition.name && this.workflowDefinition.name.trim().length > 0
      }

      return false
    }
  },
  methods: {
    onDialogOpened () {
      this.workflowDefinition = {}

      this.createRequestable.resetRequestable()

      this.$emit('open')
    },
    onDialogClosed () {
    },
    createWorkflowDefinition () {
      /*
      TODO: We use setTimeout here to wait for the objects-control to be closed and update their value.
            This is kind of a hack and it would be better to have a better solution
      */
      setTimeout(() => {
        this.createRequestable.request(
          { method: Request.POST, url: this.$apiEndpoints.workflowDefinitions.create() },
          null,
          {
            name: this.workflowDefinition.name,
            description: this.workflowDefinition.description,
            group_ids: map(this.workflowDefinition.groups, 'id')
          }
        )
      }, 50)
    }
  }
}
</script>
<template>
  <custom-dialog
    v-model="dialogOpen"
    :title="$t('workflowDefinition.createDialog.title')"
    fullheight
    :close-on-button-click="false"
    :ok-btn-text="$t('workflowDefinition.createDialog.buttonOk')"
    :ok-btn-disabled="!isValid"
    :loading="createRequestable.requestableLoading"
    :error-message="createRequestable.baseErrorMessage"
    content-class="create-workflow-definition-dialog"
    @click-ok="createWorkflowDefinition"
    @click-cancel="dialogOpen = false"
    @open="onDialogOpened"
    @close="onDialogClosed"
  >
    <template
      v-if="$scopedSlots.activator"
      #activator="{ on }"
    >
      <slot
        name="activator"
        :on="on"
      />
    </template>
    <template v-if="workflowDefinition">
      <text-control
        v-model="workflowDefinition.name"
        label="Name"
        :hint="$t('general.field.required')"
        persistent-hint
        :disabled="createRequestable.requestableLoading"
        :error-messages="createRequestable.validationErrorMessageFor('name')"
        :error-count="Number.MAX_VALUE"
        class="mb-5"
      />
      <richtextarea-control
        v-model="workflowDefinition.description"
        label="Beschreibung"
        :disabled="createRequestable.requestableLoading"
        :error-messages="createRequestable.validationErrorMessageFor('description')"
        :error-count="Number.MAX_VALUE"
        class="mb-5"
      />
      <objects-control
        v-model="workflowDefinition.groups"
        label="Gruppen"
        :list-request-parameter="{method: 'get', url: $apiEndpoints.groups.list()}"
        :disabled="createRequestable.requestableLoading"
        :error-messages="createRequestable.validationErrorMessageFor('groups')"
        :error-count="Number.MAX_VALUE"
      >
        <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
          <object-list-item
            :key="item.id"
            :indent="indent"
            :item-link="itemLink"
            :selectable="selectable"
            :selected="selected"
            :skeleton="item.skeleton"
            :value="{
              title: item.name,
              subtitleElements: [`${item.userCount} Nutzer`, `${item.workflowDefinitionCount} Maßnahmevorlagen`]
            }"
            @click="toggleElement ? toggleElement(item) : {}"
          />
        </template>
      </objects-control>
    </template>
  </custom-dialog>
</template>
