<script>
import User from 'mixins/models/user'
import Avatar from 'components/avatar'
import filter from 'lodash/filter'

export default {
  name: 'FilterUserMultiSelect',
  components: { Avatar },
  mixins: [User],
  props: {
    value: {
      type: Array,
      required: true
    },
    label: {
      type: String,
      default: undefined
    },
    items: {
      type: Array,
      required: true
    }
  },
  methods: {
    removeItem (item) {
      const newValue = filter(this.value, i => i !== item)
      if (this.value.length > newValue.length) {
        this.$emit('input', newValue)
      }
    }
  }
}
</script>
<template>
  <v-autocomplete
    :value="value"
    :items="items"
    item-value="id"
    :item-text="userFullnameFor"
    :label="label"
    multiple
    outlined
    hide-details
    @change="$emit('input', $event)"
  >
    <template #selection="data">
      <v-chip
        v-bind="data.attrs"
        :input-value="data.selected"
        close
        @click="data.select"
        @click:close="removeItem(data.item.id)"
      >
        <avatar
          v-if="data.item.avatar && data.item.id !== null"
          :text="data.item.avatar.label"
          :image="data.item.avatar.url"
          left
          class="mr-2"
        />
        {{ userFullnameFor(data.item) }}
      </v-chip>
    </template>
    <template #item="data">
      <avatar
        v-if="data.item.avatar && data.item.id !== null"
        :text="data.item.avatar.label"
        :image="data.item.avatar.url"
        class="mr-2"
      />
      {{ userFullnameFor(data.item) }}
    </template>
  </v-autocomplete>
</template>
