<script>
import Vue from 'vue'
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import Cacheable from 'mixins/cacheable'
import Controlable from 'mixins/controlable'
import BaseControl from 'controls/base-control'
import FileEditCardMenu from './file-edit-card-menu'
import FileDeleteCardMenu from './file-delete-card-menu'
import FileListItem from 'list-items/file-list-item'
import { updateValueForContentType, CONTENT_TYPE_FILE } from 'helpers/content-types'
import defaults from 'lodash/defaults'
import some from 'lodash/some'
import filter from 'lodash/filter'
import map from 'lodash/map'

export default {
  name: 'FileControl',
  components: {
    BaseControl,
    FileEditCardMenu,
    FileDeleteCardMenu,
    FileListItem
  },
  mixins: [Requestable, Cacheable, Controlable],
  props: {
    ...requestablePropFactory().props,
    value: {
      type: Array,
      default: () => []
    },
    aclObjectGlobalId: {
      type: String,
      default: undefined
    }
  },
  data () {
    return {
      uploadRequestables: [],
      showEditCardMenu: false,
      showDeleteCardMenu: false,
      currentValue: null
    }
  },
  computed: {
    internalOptions () {
      return defaults({}, this.options, {
        multiple: false
      })
    },
    controlLoading () {
      return Controlable.computed.controlLoading.call(this) ||
          some(this.uploadRequestables, item => item.requestableLoading)
    },
    controlErrorMessages () {
      const result = [Controlable.computed.controlErrorMessages.call(this)].concat(
        map(this.uploadRequestables, item => item.errorMessage))

      return filter(result, item => item !== null)
    },
    canAddFiles () {
      return this.internalOptions.multiple || this.cacheValue.length === 0
    },
    availableActions () {
      let result = ['download']
      if (!this.controlDisabled) {
        result = result.concat(['delete'])

        if (this.aclObjectGlobalId) {
          result = result.concat(['edit'])
        }
      }

      return result
    }
  },
  methods: {
    createCacheValue () {
      if (this.value) {
        Cacheable.methods.createCacheValue.call(this)
      } else {
        this.cacheValue = []
      }
    },
    onFileAdd () {
      this.$refs.fileinput.value = null
      this.$refs.fileinput.click()
    },
    onFileAction (action, file) {
      switch (action) {
        case 'edit':
          this.currentValue = file
          this.showEditCardMenu = true
          break
        case 'delete':
          this.currentValue = file
          this.showDeleteCardMenu = true
          break
        default:
      }
    },
    onFileDelete (file) {
      this.cleanupRequestables()
      this.cacheValue = filter(this.cacheValue, item => item !== file)
      this.resetRequestable()
      this.updateControl()
    },
    onFileInputChanged (e) {
      this.cleanupRequestables()

      e.target.files.forEach(file => {
        const formData = new FormData()
        formData.append('file', file)

        const requestable = new (Vue.extend(Requestable))({
          methods: {
            onRequestSuccess: (file) => {
              this.uploadRequestables = filter(this.uploadRequestables, item => item !== requestable)
              this.cacheValue.push(file)
              this.updateControl()
            }
          }
        })
        this.uploadRequestables.push(requestable)

        requestable.request({ method: 'post', url: this.$apiEndpoints.uploadedFiles.create() }, null, formData)
      })
    },
    onRequestSuccess (data) {
      this.controlShowSuccessMessage()

      if (data) {
        this.$emit('request-success-data', data)
      }
    },
    onRequestSuccessEdit (data) {
      this.currentValue.title = data.title
    },
    updateControl () {
      this.controlOnInput()
      this.controlOnChange(updateValueForContentType(CONTENT_TYPE_FILE, this.cacheValue))
    },
    cleanupRequestables () {
      this.uploadRequestables = filter(this.uploadRequestables, item => !item.hasError)
    }
  }
}
</script>

<template>
  <base-control
    ref="container"
    :value="cacheValue"
    :label="label"
    :loading="controlLoading"
    :disabled="controlDisabled"
    :class="controlClass"
    :error-messages="controlErrorMessages"
    :error-count="Number.MAX_VALUE"
    :hint="controlHint"
    :persistent-hint="controlPersistentHint"
    :success-messages="controlSuccessMessage"
    class="p-relative"
  >
    <template #actions>
      <input
        ref="fileinput"
        class="d-none"
        type="file"
        :multiple="internalOptions.multiple"
        @change="onFileInputChanged"
      >
      <v-btn
        v-if="!controlReadonly"
        color="primary"
        small
        text
        :disabled="controlDisabled || !canAddFiles"
        @click="onFileAdd"
      >
        Hinzufügen
      </v-btn>
    </template>

    <v-list
      class="py-0 w-100"
      color="transparent"
    >
      <template v-for="(item, index) in cacheValue">
        <file-list-item
          :key="item.id"
          :class="[{'pt-2': index > 0}, 'px-0']"
          :value="item"
          :actions="availableActions"
          class="pb-2"
          @action="onFileAction"
        />
        <v-divider
          v-if="index < cacheValue.length - 1"
          :key="`list-divider-${index}`"
        />
      </template>
    </v-list>

    <file-edit-card-menu
      v-if="aclObjectGlobalId"
      v-model="showEditCardMenu"
      :attach="$refs.container"
      :nudge-bottom="28"
      :value="currentValue"
      :acl-object-global-id="aclObjectGlobalId"
      @request-success-data="onRequestSuccessEdit"
    />

    <file-delete-card-menu
      v-model="showDeleteCardMenu"
      :attach="$refs.container"
      :nudge-bottom="28"
      :value="currentValue"
      @delete="onFileDelete"
    />
  </base-control>
</template>
<style>
  .w-100 {
    width: 100%;
  }
  .p-relative {
    position: relative;
  }
</style>
