<script>
import { PageContentable } from '../page'
import VisibilitySummary from 'components/visibility-summary'

export default {
  name: 'DossierEditSidebarRight',
  components: { VisibilitySummary },
  mixins: [PageContentable]
}
</script>
<template>
  <div v-if="value">
    <visibility-summary :value="value.groups" />
    <v-divider />
  </div>
</template>
