<script>
import { PageContentable } from '../page'
import DataControl from 'controls/data-control'
import ActivityHub from 'components/activity-hub'

export default {
  name: 'DossierEditMainContent',
  components: {
    DataControl,
    ActivityHub
  },
  mixins: [PageContentable],
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    }
  }
}
</script>
<template>
  <div v-if="value">
    <data-control
      v-for="(dataField, index) in value.dataFields"
      :key="dataField.definition.id"
      :value="dataField.value"
      :acl-object-global-id="value.gid"
      :type="dataField.definition.type"
      :label="dataField.definition.name"
      :options="dataField.definition.options"
      :required="dataField.definition.required"
      :request-parameter="{method: 'patch', url: $apiEndpoints.dossiers.update(value.id), mapping: (data) => { return {'dossier_field_definition_id': dataField.definition.id, 'value': data}}}"
      :class="{'mb-5': index < value.dataFields.length - 1}"
      @request-success-data="onUpdated"
    />

    <activity-hub
      :gid="value.gid"
      :groups="value.groups"
      class="mt-12"
    />
  </div>
</template>
