.theme--light.v-input--is-disabled.control--is-readonly {
  &, & input, & textarea, .ProseMirror {
    color: inherit;
  }

  &.custom-input-control .v-item-group .v-btn.v-btn--disabled {
    color: rgba(0, 0, 0, 0.87) !important;
    border-style: dashed;

    &.v-item--active {
      color: inherit !important;
    }
  }

  & .v-chip--disabled {
    opacity: 1;
  }

  &.custom-object-control .custom-object-control__divider {
    border-image: repeating-linear-gradient(90deg, rgba(0,0,0,.38) 0, rgba(0,0,0,.38) 2px, transparent 0, transparent 4px) 1 repeat;
  }
}

.v-input--is-disabled.control--is-readonly:not(.v-input--is-readonly) {
  pointer-events: auto;
}
