.u-text-decoration-0 {
  text-decoration: none !important;
}

.u-background-transparent {
  background-color: transparent !important;
}

.u-scroll-y {
  overflow-y: auto;
}

.v-timeline-item__dot {
  box-shadow: none !important;
}

mark {
  color: rgba(0, 0, 0, 0.87) !important;
  background-color: rgb(255, 249, 196) !important;
  border-color: rgb(255, 249, 196) !important;
}
