.object-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &--chip {
    padding: 2px 6px;
    border-radius: 10px;
  }

  &--outline {
    border: 1px solid;
    background-color: transparent !important;
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
