<script>
import Vue from 'vue'
import { PageContentable } from '../page'
import Requestable from 'mixins/requestable'
import WorkflowListItem from 'list-items/workflow-list-item'
import TaskListItem from 'list-items/task-list-item'
import AddTaskDialog from 'dialogs/add-task-dialog'
import AddEditBlockDialog from 'dialogs/add-edit-block-dialog'
import DeleteBlockDialog from 'dialogs/delete-block-dialog'
import Workflow from 'mixins/models/workflow'
import find from 'lodash/find'
import parseInt from 'lodash/parseInt'
import draggable from 'vuedraggable'
import has from 'lodash/has'
import last from 'lodash/last'
import { routeFor } from 'helpers/route'

export default {
  name: 'WorkflowEditSidebarLeft',
  components: {
    WorkflowListItem,
    TaskListItem,
    AddTaskDialog,
    AddEditBlockDialog,
    DeleteBlockDialog,
    draggable
  },
  mixins: [PageContentable, Workflow],
  props: {
    designMode: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      currentDragItem: null,
      resetCurrentDragItemTimeoutId: undefined,
      designRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: this.onUpdated
        }
      }),
      addButtonOpen: false
    }
  },
  computed: {
    workflow () {
      return this.value ? this.value.workflow : null
    },
    task () {
      return this.value ? this.value.task : null
    }
  },
  methods: {
    ...{ routeFor },
    onUpdated (workflow) {
      this.$emit('input', {
        workflow: workflow,
        task: this.task && this.workflowGetTaskWithIdFor(workflow, this.task.id)
      })
    },
    onNewTask (workflow) {
      this.onUpdated(workflow)
      this.$router.push(routeFor('task', last(workflow.structure).id))
    },
    blockContainsCurrentTask (block) {
      return this.task && !!find(block.tasks, { id: parseInt(this.task.id) })
    },
    putInBlock (to, from, dragEl, event) {
      return dragEl.__vue__ && !dragEl.__vue__?.$attrs['drag-item']
    },
    onChoose (event) {
      if (event.item.__vue__.$attrs['drag-item']) {
        clearTimeout(this.resetCurrentDragItemTimeoutId)
        event.item.querySelector('.v-list-group__items').style.display = 'none'
        this.currentDragItem = event.item.__vue__.$attrs['drag-item']()
      }
    },
    onUnchoose (event) {
      clearTimeout(this.resetCurrentDragItemTimeoutId)
      this.resetCurrentDragItemTimeoutId = setTimeout(() => {
        this.currentDragItem = null
      }, 100)
    },
    onPositionChanged (parent, event) {
      if (has(event, 'moved')) {
        this.moveItem(event.moved.element.type, event.moved.element.id, event.moved.newIndex, parent.type, parent.id)
      } else if (has(event, 'added')) {
        this.moveItem(event.added.element.type, event.added.element.id, event.added.newIndex, parent.type, parent.id)
      }
    },
    moveItem (type, id, newIndex, parentType, parentId) {
      if (type === 'task') {
        this.designRequestable.request(
          { method: 'patch', url: this.$apiEndpoints.tasks.move(id) },
          { target_type: parentType, target_id: parentId, index: newIndex })
      } else if (type === 'block') {
        this.designRequestable.request(
          { method: 'patch', url: this.$apiEndpoints.blocks.move(id) },
          { target_type: parentType, target_id: parentId, index: newIndex })
      }
    }
  }
}
</script>
<template>
  <v-list
    v-if="value"
    class="pt-0"
  >
    <workflow-list-item
      :value="workflow"
      :to="routeFor('workflow', workflow.id)"
      :dense="false"
      class="mb-3 sticky-border--workflow"
      :style="`border-bottom-color: ${workflowStateColor.value}`"
      indent
      sidebar
    />

    <draggable
      :list="workflow.structure"
      :group="{ name: 'workflow-structure-group' }"
      handle=".handle"
      :force-fallback="$browserDetect.isChrome"
      :animation="200"
      @change="onPositionChanged({ type: 'workflow', id: workflow.id }, $event)"
      @choose="onChoose"
      @unchoose="onUnchoose"
    >
      <template
        v-for="item in workflow.structure"
      >
        <task-list-item
          v-if="item.type === 'task'"
          :key="`${item.type}-${item.id}`"
          :value="item"
          :to="routeFor('task', item.id)"
          :dense="false"
          :ripple="false"
          class="mb-3 mr-4 sticky-border--task"
          indent
          sidebar
          :design-mode="designMode"
          :disabled="designRequestable.requestableLoading"
        />
        <v-list
          v-else-if="item.type === 'block'"
          :key="`${item.type}-${item.id}`"
          class="mb-3 mr-4 py-0"
          :drag-item="() => item"
        >
          <v-list-group
            :value="!(currentDragItem && currentDragItem.id === item.id) && (designMode || !item.condition || item.condition.valid || item.important || blockContainsCurrentTask(item))"
            :ripple="false"
            :disabled="designRequestable.requestableLoading"
            color="secondary-text"
            class="sticky-border--block"
          >
            <template #activator>
              <v-icon
                v-if="designMode"
                :disabled="designRequestable.requestableLoading"
                color="purple lighten-2"
                class="handle ml-n2 mr-2"
              >
                mdi-drag-horizontal
              </v-icon>
              <v-icon
                v-if="item.condition && item.condition.valid"
                dense
                class="mr-1"
                :class="item.condition.confirmed ? 'text--secondary' : 'text--disabled'"
              >
                mdi-check
              </v-icon>
              <v-list-item-title
                class="text--secondary"
                :class="{'text--disabled': item.condition && !item.condition.valid}"
              >
                {{ item.title }}
              </v-list-item-title>

              <add-edit-block-dialog
                v-if="designMode"
                :value="item"
                :request-parameter="{ method: 'patch', url: workflow ? $apiEndpoints.blocks.update(item.id) : '', mapping: 'block' }"
                :workflow="workflow"
                @request-success-data="onUpdated"
              >
                <template #activator="{ on }">
                  <v-btn
                    icon
                    :disabled="designRequestable.requestableLoading"
                    v-on="on"
                  >
                    <v-icon color="purple lighten-2">
                      mdi-pencil
                    </v-icon>
                  </v-btn>
                </template>
              </add-edit-block-dialog>

              <delete-block-dialog
                v-if="designMode"
                :request-parameter="{ method: 'delete', url: $apiEndpoints.blocks.destroy(item.id) }"
                @request-success-data="onUpdated"
              >
                <template #activator="{ on }">
                  <v-btn
                    icon
                    :disabled="designRequestable.requestableLoading || item.tasks.length > 0"
                    v-on="on"
                  >
                    <v-icon color="purple lighten-2">
                      mdi-delete
                    </v-icon>
                  </v-btn>
                </template>
              </delete-block-dialog>
            </template>

            <draggable
              :list="item.tasks"
              :group="{ name: 'workflow-structure-group', put: putInBlock }"
              handle=".handle"
              :force-fallback="$browserDetect.isChrome"
              :animation="200"
              @change="onPositionChanged({ type: 'block', id: item.id }, $event)"
              @choose="onChoose"
              @unchoose="onUnchoose"
            >
              <task-list-item
                v-for="blockTask in item.tasks"
                :key="`${blockTask.type}-${blockTask.id}`"
                :value="blockTask"
                :to="routeFor('task', blockTask.id)"
                :dense="false"
                :ripple="false"
                class="my-2 mr-2 sticky-border--task"
                indent
                sidebar
                :content-class="item.condition && !item.condition.valid ? 'text--disabled' : ''"
                :design-mode="designMode"
                :disabled="designRequestable.requestableLoading"
              />
            </draggable>
          </v-list-group>
        </v-list>
      </template>
    </draggable>
    <v-list-item
      v-if="designMode && workflowHasAvailableActionFor(workflow, 'design')"
      class="justify-center pl-0"
    >
      <v-menu
        v-model="addButtonOpen"
        close-on-content-click
        top
        offset-y
        nudge-top="12px"
        transition="slide-y-reverse-transition"
      >
        <template #activator="{ on, attrs }">
          <v-btn
            fab
            dark
            v-bind="attrs"
            color="purple lighten-2"
            v-on="on"
          >
            <v-icon>
              mdi-plus
            </v-icon>
          </v-btn>
        </template>
        <v-list>
          <add-task-dialog
            :request-parameter="{method: 'post', url: $apiEndpoints.workflows.addTask(workflow.id), mapping: 'task'}"
            @open="addButtonOpen = false"
            @request-success-data="onNewTask"
          >
            <template #activator="{ on }">
              <v-list-item
                :disabled="!workflowHasAvailableActionFor(workflow, 'design')"
                v-on="on"
              >
                {{ $t('workflow.actions.addTask') }}
              </v-list-item>
            </template>
          </add-task-dialog>

          <add-edit-block-dialog
            :request-parameter="{method: 'post', url: $apiEndpoints.workflows.addBlock(workflow.id), mapping: 'block'}"
            :workflow="workflow"
            add-mode
            @open="addButtonOpen = false"
            @request-success-data="onUpdated"
          >
            <template #activator="{ on }">
              <v-list-item
                :disabled="!workflowHasAvailableActionFor(workflow, 'design')"
                v-on="on"
              >
                {{ $t('workflow.actions.addBlock') }}
              </v-list-item>
            </template>
          </add-edit-block-dialog>
        </v-list>
      </v-menu>
    </v-list-item>
  </v-list>
</template>

<style>
.sticky-border--workflow {
  border-color: rgba(0,0,0,.12);
  border-width: 1px;
  border-style: solid;
  border-radius: 0 4px 4px 0;
  border-left: none;
  border-bottom-width: 6px;
}
.sticky-border--task {
  border-color: rgba(0,0,0,.24);
  border-width: 1px;
  border-style: solid;
  border-radius: 0 4px 4px 0;
  border-left: none;
}
.sticky-border--block {
  border-color: rgba(0,0,0,.24);
  border-width: 1px;
  border-style: dashed;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.sticky-border--block .v-list-group__header.v-list-item {
  padding-left: 12px;
}

.sortable-drag.sticky-border--task {
  background-color: white;
  border-left: rgba(0,0,0,.24) 1px solid;
}
.sortable-drag > .sticky-border--block {
  background-color: white;
  border-left: rgba(0,0,0,.24) 1px dashed;
  height: 50px !important;
}

.sortable-drag > .v-list-item--active:before {
  opacity: 0 !important;
}

</style>
