<script>
import { PageContentable } from '../page'
import UsersControl from 'controls/users-control'
import ObjectsControl from 'controls/objects-control'
import ObjectListItem from 'list-items/object-list-item'
import VisibilitySummary from 'components/visibility-summary'
import DesignModeBtn from 'components/design-mode-btn'
import Ambition from 'mixins/models/ambition'
import map from 'lodash/map'
import { routeFor } from 'helpers/route'

export default {
  name: 'EditWorkflowSidebarRight',
  components: { UsersControl, ObjectsControl, ObjectListItem, VisibilitySummary, DesignModeBtn },
  mixins: [PageContentable, Ambition],
  props: {
    designMode: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    workflow () {
      return this.value ? this.value.workflow : null
    },
    group_ids () { return map(this.workflow.groups, 'id') }
  },
  methods: {
    ...{ routeFor },
    onUpdated (workflow) {
      this.$emit('input', {
        workflow: workflow,
        task: null
      })
    }
  }
}
</script>
<template>
  <div v-if="value">
    <users-control
      v-model="workflow.assignee"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.workflows.updateAssignee(workflow.id), mapping: 'assignee'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list(), params: {group_ids: group_ids}}"
      label="Verantwortlicher"
      success-message=""
      single
      indent
      sidebar
      @request-success-data="onUpdated"
    />
    <v-divider />

    <users-control
      v-model="workflow.contributors"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.workflows.updateContributors(workflow.id), mapping: 'contributors'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list(), params: {group_ids: group_ids}}"
      label="Teilnehmer"
      success-message=""
      avatar-list-item
      indent
      sidebar
      @request-success-data="onUpdated"
    />
    <v-divider />

    <objects-control
      v-model="workflow.ambitions"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.workflows.updateAmbitions(workflow.id), mapping: 'ambitions'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.ambitions.list()}"
      label="Ziele"
      success-message=""
      :divider="false"
      indent
      sidebar
    >
      <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
        <object-list-item
          :key="item.id"
          :indent="indent"
          :item-link="itemLink"
          :selectable="selectable"
          :selected="selected"
          :skeleton="item.skeleton"
          :value="ambitionBusinessObjectFor(item)"
          :to="routeFor('ambition', item.id)"
          @click="toggleElement ? toggleElement(item) : {}"
        />
      </template>
    </objects-control>
    <v-divider />

    <visibility-summary :value="workflow.groups" />
    <v-divider />

    <design-mode-btn
      :value="designMode"
      @input="$emit('update:prop', { prop: 'designMode', value: $event })"
    />
  </div>
</template>
