<script>
import { PageContentable } from '../page'
import UsersControl from 'controls/users-control'
import SwitchControl from 'controls/switch-control'
import DateControl from 'controls/date-control'
import VisibilitySummary from 'components/visibility-summary'
import DesignModeBtn from 'components/design-mode-btn'
import Workflow from 'mixins/models/workflow'
import map from 'lodash/map'

export default {
  name: 'EditTaskSidebarRight',
  components: { UsersControl, SwitchControl, DateControl, VisibilitySummary, DesignModeBtn },
  mixins: [PageContentable, Workflow],
  props: {
    designMode: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    workflow () {
      return this.value ? this.value.workflow : null
    },
    task () {
      return this.value ? this.value.task : null
    },
    group_ids () { return map(this.workflow.groups, 'id') }
  },
  methods: {
    onUpdated (workflow) {
      this.$emit('input', {
        workflow: workflow,
        task: this.workflowGetTaskWithIdFor(workflow, this.task.id)
      })
    }
  }
}
</script>
<template>
  <div v-if="value">
    <users-control
      v-model="task.assignee"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.tasks.updateAssignee(task.id), mapping: 'assignee'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list(), params: {group_ids: group_ids}}"
      label="Verantwortlicher"
      success-message=""
      single
      indent
      sidebar
      @request-success-data="onUpdated"
    />
    <v-divider />

    <users-control
      v-model="task.contributors"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.tasks.updateContributors(task.id), mapping: 'contributors'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.users.list(), params: {group_ids: group_ids}}"
      label="Teilnehmer"
      success-message=""
      avatar-list-item
      indent
      sidebar
      @request-success-data="onUpdated"
    />
    <v-divider />

    <date-control
      v-model="task.dueAt"
      :request-parameter="{method: 'patch', url: $apiEndpoints.tasks.updateDueDate(task.id), mapping: 'due_at'}"
      label="Fälligkeitsdatum"
      success-message=""
      sidebar
      @request-success-data="onUpdated"
    />
    <v-divider />

    <visibility-summary :value="workflow.groups" />
    <v-divider />

    <switch-control
      v-model="task.marked"
      :request-parameter="{method: 'patch', url: $apiEndpoints.tasks.updateMarked(task.id), mapping: 'marked'}"
      label="Meine Merkliste"
      success-message=""
      sidebar
    />
    <v-divider />

    <design-mode-btn
      :value="designMode"
      @input="$emit('update:prop', { prop: 'designMode', value: $event })"
    />
  </div>
</template>
