<script>
import { PageContentable } from '../page'
import Breadcrumbs from 'components/breadcrumbs'
import PageDetailHeader from 'components/page-detail-header'
import KebabMenu from 'components/kebab-menu'
import DeleteWorkflowDefinitionDialog from 'dialogs/delete-workflow-definition-dialog'
import WorkflowDefinition from 'mixins/models/workflow-definition'
import TextControl from 'controls/text-control'
import RichtextareaControl from 'controls/richtextarea-control'
import ObjectsControl from 'controls/objects-control'
import ObjectListItem from 'list-items/object-list-item'
import ActivityHub from 'components/activity-hub'

export default {
  name: 'WorkflowDefinitionEditContent',
  components: {
    Breadcrumbs,
    PageDetailHeader,
    KebabMenu,
    DeleteWorkflowDefinitionDialog,
    TextControl,
    RichtextareaControl,
    ObjectsControl,
    ObjectListItem,
    ActivityHub
  },
  mixins: [PageContentable, WorkflowDefinition],
  computed: {
    workflowDefinition () {
      return this.value
    }
  },
  methods: {
    onUpdated (value) {
      this.$emit('input', value)
    },
    onDeleted () {
      this.$router.replace({ name: 'workflow-definitions' })
    }
  }
}
</script>
<template>
  <div v-if="value">
    <breadcrumbs :items="workflowDefinitionBreadcrumbs" />

    <page-detail-header
      :state-text="workflowDefinitionStateText"
      :state-updated-at="workflowDefinitionStateUpdatedAtDate"
      :state-color="workflowDefinitionStateColor.background"
      :has-left-sidebar="hasLeftSidebar"
      :has-right-sidebar="hasRightSidebar"
      @open-sidebar="$emit('open-sidebar', $event)"
    >
      <template #actions="{loading}">
        <kebab-menu
          :disabled="loading"
          color="primary"
        >
          <template #items="{ closeMenu }">
            <delete-workflow-definition-dialog
              :request-parameter="{ method: 'delete', url: $apiEndpoints.workflowDefinitions.destroy(value.id) }"
              @request-success="onDeleted"
              @open="closeMenu"
            >
              <template #activator="{ on }">
                <v-list-item v-on="on">
                  <v-list-item-title>{{ $t('workflowDefinition.actions.delete') }}</v-list-item-title>
                </v-list-item>
              </template>
            </delete-workflow-definition-dialog>
          </template>
        </kebab-menu>
      </template>
    </page-detail-header>

    <h1 class="text-h4 font-weight-light mb-4">
      {{ value.name }}
    </h1>

    <text-control
      v-model="value.name"
      label="Name"
      :request-parameter="{method: 'patch', url: $apiEndpoints.workflowDefinitions.update(value.id), mapping: 'name'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <richtextarea-control
      v-model="value.description"
      label="Beschreibung"
      :request-parameter="{method: 'patch', url: $apiEndpoints.workflowDefinitions.update(value.id), mapping: 'description'}"
      class="mb-5"
      @request-success-data="onUpdated"
    />

    <objects-control
      v-model="value.groups"
      label="Gruppen"
      :update-request-parameter="{method: 'patch', url: $apiEndpoints.workflowDefinitions.update(value.id), mapping: 'group_ids'}"
      :list-request-parameter="{method: 'get', url: $apiEndpoints.groups.list()}"
      @request-success-data="onUpdated"
    >
      <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
        <object-list-item
          :key="item.id"
          :indent="indent"
          :item-link="itemLink"
          :selectable="selectable"
          :selected="selected"
          :skeleton="item.skeleton"
          :value="{
            title: item.name,
            subtitleElements: [`${item.userCount} Nutzer`, `${item.workflowDefinitionCount} Maßnahmevorlagen`]
          }"
          @click="toggleElement ? toggleElement(item) : {}"
        />
      </template>
    </objects-control>

    <activity-hub
      :gid="workflowDefinition.gid"
      :groups="workflowDefinition.groups"
      class="mt-12"
    />
  </div>
</template>
