<script>
import Vue from 'vue'
import Requestable from 'mixins/requestable'
import Controlable from 'mixins/controlable'
import Cacheable from 'mixins/cacheable'
import Request from 'api/request'
import ObjectsControl from 'controls/objects-control'
import DossierDefinitionListItem from 'list-items/dossier-definition-list-item'
import ListControl from 'controls/list-control'
import find from 'lodash/find'
import forOwn from 'lodash/forOwn'

export default {
  name: 'ContentTypeControl',
  components: {
    ObjectsControl,
    DossierDefinitionListItem,
    ListControl
  },
  mixins: [Cacheable, Controlable],
  props: {
    value: {
      type: Object,
      default: undefined
    }
  },
  data () {
    return {
      contentTypes: [],
      contentTypesQueryRequestable: new (Vue.extend(Requestable))({
        methods: {
          onRequestSuccess: (data) => {
            this.contentTypes = data
          }
        }
      })
    }
  },
  computed: {
    selectedContentType () {
      return find(this.contentTypes, { type: this.cacheValue.name })
    }
  },
  mounted () {
    this.contentTypesQueryRequestable.request(
      { method: Request.GET, url: this.$apiEndpoints.contentTypes.index() },
      null, null, true, true)
  },
  methods: {
    onContentTypeChanged () {
      this.cacheValue.label = this.selectedContentType.label
      this.cacheValue.options_definition = this.selectedContentType.options_definition
      this.cacheValue.options = {}

      if (this.selectedContentType.options_definition) {
        this.cacheValue.options = this.generateObjectWithDefaultValues(this.selectedContentType.options_definition)
      }
      this.controlOnInput()
    },
    optionsDefault (type) {
      switch (type) {
        case 'boolean': return false
        case 'string': return ''
        case 'dossier-definition': return null
        case 'array': return []
        case 'auto-increment': return null
      }
    },
    generateObjectWithDefaultValues (definition) {
      const result = {}

      forOwn(definition, (value, key) => {
        Vue.set(result, key, this.optionsDefault(value.type))
      })

      return result
    },
    filterAutoIncItems (definition) {
      const result = {}

      forOwn(definition, (value, key) => {
        if (value.type !== 'auto-increment') {
          Vue.set(result, key, value)
        }
      })

      return result
    },
    onRequestSuccess (data) {
      this.controlShowSuccessMessage()
      this.$emit('input', this.cacheValue)

      if (data) {
        this.$emit('request-success-data', data)
      }
    },
    hasRequestParameter () {
      return false
    }
  }
}
</script>

<template>
  <div>
    <v-autocomplete
      v-model="cacheValue.name"
      :label="label"
      item-value="type"
      item-text="label"
      :loading="contentTypesQueryRequestable.requestableLoading"
      :disabled="controlDisabled || contentTypesQueryRequestable.requestableLoading"
      :hint="controlHint"
      :persistent-hint="controlPersistentHint"
      :error-messages="controlErrorMessages"
      :error-count="Number.MAX_VALUE"
      :success-messages="controlSuccessMessage"
      :items="contentTypes"
      class="mb-5"
      @change="onContentTypeChanged"
    />
    <template v-if="selectedContentType && selectedContentType.options_definition">
      <v-card class="content-type-control__options-wrapper">
        <v-card-text>
          <template v-for="(option_def, option_key) in selectedContentType.options_definition">
            <v-switch
              v-if="option_def.type === 'boolean'"
              :key="option_key"
              v-model="cacheValue.options[option_key]"
              :label="option_def.title"
              :disabled="controlLoading"
              :hint="option_def.required ? $t('general.field.required') : undefined"
              :persistent-hint="option_def.required"
              @change="controlOnInput"
            />
            <objects-control
              v-else-if="option_def.type === 'dossier-definition'"
              :key="option_key"
              v-model="cacheValue.options[option_key]"
              :label="option_def.title"
              :list-request-parameter="{method: 'get', url: $apiEndpoints.dossierDefinitions.list()}"
              single
              :disabled="controlLoading"
              :hint="option_def.required ? $t('general.field.required') : undefined"
              :persistent-hint="option_def.required"
              select-card-menu-attach=".content-type-control__options-wrapper"
              :select-menu-card-nudge-bottom-difference="16"
              @change="controlOnInput"
            >
              <template #list-item="{item, indent, itemLink, selectable, selected, toggleElement}">
                <dossier-definition-list-item
                  :key="item.id"
                  :indent="indent"
                  :item-link="itemLink"
                  :selectable="selectable"
                  :selected="selected"
                  :skeleton="item.skeleton"
                  :value="item"
                  @click="toggleElement ? toggleElement(item) : {}"
                />
              </template>
            </objects-control>
            <list-control
              v-else-if="option_def.type === 'array'"
              :key="option_key"
              v-model="cacheValue.options[option_key]"
              :label="option_def.title"
              :items="filterAutoIncItems(option_def.items)"
              :default-value-item="generateObjectWithDefaultValues(option_def.items)"
              :disabled="controlLoading"
              :hint="option_def.required ? $t('general.field.required') : undefined"
              :persistent-hint="option_def.required"
              @change="controlOnInput"
            >
              <template #field="{itemName, itemDef, itemValue}">
                <v-text-field
                  v-if="itemDef.type === 'string'"
                  v-model="itemValue[itemName]"
                  :label="itemDef.title"
                  :hint="itemDef.required ? $t('general.field.required') : undefined"
                  :persistent-hint="itemDef.required"
                  @input="controlOnInput"
                />
              </template>
            </list-control>
          </template>
        </v-card-text>
      </v-card>
    </template>
  </div>
</template>
