<script>
import Requestable, { requestablePropFactory } from 'mixins/requestable'
import ResetBtn from 'components/reset-btn'
import CopyToClipboardBtn from 'components/copy-to-clipboard-btn'
import Cacheable from 'mixins/cacheable'
import Controlable from 'mixins/controlable'
import { number2LocaleString } from 'helpers/number'
import defaults from 'lodash/defaults'
import isEqual from 'lodash/isEqual'

export default {
  name: 'NumericControl',
  components: {
    ResetBtn,
    CopyToClipboardBtn
  },
  mixins: [Requestable, Cacheable, Controlable],
  props: {
    ...requestablePropFactory().props,
    value: {
      type: [Number, String],
      default: undefined
    },
    hint: {
      type: String,
      default: 'Bitte Zahl eingeben'
    }
  },
  computed: {
    internalOptions () {
      return defaults({}, this.options, {
        type: 'integer',
        decimalLength: 2,
        min: null,
        max: null,
        prefix: undefined,
        suffix: undefined
      })
    },
    valueAsInteger () {
      return this.internalOptions.type === 'integer'
    },
    decimalLength () {
      return this.valueAsInteger ? 0 : this.internalOptions.decimalLength
    },
    cachedValueChanged () {
      return !isEqual(Number(this.value), Number(this.cacheValue))
    }
  },
  methods: {
    onRequestSuccess (data) {
      this.controlShowSuccessMessage()
      this.$emit('input', this.cacheValue)

      if (data) {
        this.$emit('request-success-data', data)
      }
    },
    number2LocaleString (n) {
      return number2LocaleString(n, { useGrouping: false })
    }
  }
}
</script>

<template>
  <v-currency-field
    v-model="cacheValue"
    :label="label"
    :loading="controlLoading"
    :disabled="controlDisabled"
    :class="controlClass"
    :error-count="Number.MAX_VALUE"
    :error-messages="controlErrorMessages"
    :hint="controlHint"
    :persistent-hint="controlPersistentHint"
    :success-messages="controlSuccessMessage"
    :locale="$i18n.locale"
    :auto-decimal-mode="false"
    :value-as-integer="valueAsInteger"
    :decimal-length="decimalLength"
    :default-value="null"
    :min="internalOptions.min"
    :max="internalOptions.max"
    :prefix="internalOptions.prefix"
    :suffix="internalOptions.suffix"
    @blur="controlOnBlur(); controlOnChange()"
    @input="controlOnInput"
    @focus="controlOnFocus"
  >
    <template #append>
      <reset-btn
        v-if="cachedValueChanged && controlHasError"
        @click="controlReset"
      />
      <copy-to-clipboard-btn
        v-if="cacheValue"
        :value="{'text/plain': number2LocaleString(cacheValue)}"
      />
    </template>
  </v-currency-field>
</template>
