- loco = notification.event.localized_object(true, current_user, false)
- payload = loco[:payload]

-# DEBUG:
-# = loco.inspect
-# Action:
-# = loco[:action]
-# Avatar:
-# = loco[:avatar].inspect
- base_style = "font-size: .875rem; font-weight: 400;padding: 2px 6px; border-radius: 10px;line-height: 1.5;margin: 0;overflow-wrap: break-word;letter-spacing: .0071428571em;text-decoration: none;"
- blue_style = "#{base_style}color: #1976d2 !important; background-color: #e3f2fd!important;cursor: pointer;"
- grey_style = "#{base_style}color: rgba(0,0,0,.87)!important; background-color: #eee!important;"

%mj-section{"background-color": "white"}
  -# width is 38px + padding-left + padding-right
  %mj-column{width: "68px"}
    %mj-image{src: attach_email_image("mails/#{loco[:avatar][:icon]}.png").url, padding: "0px 15px 15px 15px", width: "38px"}
  -# width is 900px (100%) - 58px (Image) - 140px ("Öffnen" button)
  -# Be sure to adapt the breakpoint in mailer.html.mjml to this value otherwise text will be cut off on screens smaller than this and bigger than breakpoint
  %mj-column{width: "722px"}
    %mj-text{"line-height": 1.7, padding: "0px 10px 0px 10px"}
      - loco[:chunks].each do |c|
        - case c[:type]
        - when "reference"
          - if c[:noaccess] || c[:deleted]
            %span{style: grey_style}= c[:text] # don't break line, see next comment
          - else
            %a{style: blue_style, href: object_reference_url(c)}= c[:text] # do not move the text into the next line or the tag-bubble around it will contain an extra space.
        - when "text"
          %span
            = c[:text]
        - when "text-value"
          %i
            = c[:text]
        - else
          - raise "localized_object chunks other than text, text-value, and reference are not supported"
  -# width was determined experimentalally so "Öffnen" not be split into two lines, roughly 90px+ side paddings.
  -# Update width of prev column and empty 3rd column in payload-section below when changing this.
  %mj-column{width: "110px"}
    %mj-button{"background-color": "#1565C0", padding: "10px 10px 0px 10px", color: "white", href: object_reference_url(loco[:target])} Öffnen

- if payload # text of comment
  %mj-section{"background-color": "white","padding-top":"0px"}
    -# Update width with column above
    %mj-column{width: "68px"}
    -# Update width with column above
    %mj-column{width: "722px", "padding": "0px", "inner-border-left": "5px solid #ccc" }
      %mj-text{"line-height": 1.7, "background-color": "#f3f3f3", padding: "0px 10px 0px 10px"}
        - payload_html = Services::Mentioning.transform_mentions(payload) do |m|
          - raise "mention must be type reference" if m[:type] != "reference"
          - raise "mention must be position mention" if m[:position] != "mention"
          - if m[:noaccess] || m[:deleted]
            - %(<span style="#{grey_style}">#{m[:text]}</span>)
          - else
            - %(<a style="#{blue_style}" href="#{object_reference_url(m)}">#{m[:text]}</a>)
        != payload_html
    -# Update width with column above
    %mj-column{width: "110px", padding: 0}
      %mj-divider{"border-color" => "lightgrey", "border-width" => "0px", :padding => "0"} 

%mj-section{padding: "5px"}
  %mj-column{padding: 0}
    %mj-divider{"border-color" => "lightgrey", "border-width" => "0px", :padding => "0"}
