<% # don't remove extra whitespace lines in this file, they're for spacing the text mail sections %>

<% loco = notification.event.localized_object(true, current_user, false) %>
<%= loco[:chunks].map { |c| c[:text] }.join("") %>
<% payload = loco[:payload] %><%= Nokogiri::HTML.fragment(Services::Mentioning.transform_mentions(payload) { |m| m[:text] }).text if payload%><% if payload %>
<% end %><%= object_reference_url(loco[:target]) %>
