Du hast <%=pluralize(@notifications.count, 'neue Benachrichtigung',
                                       plural: 'neue Benachrichtigungen')%> in samarbeid seit <%=I18n.l(@user.noti_last_sent_at)%>.

<%= render partial: "notification", collection: @notifications, locals: {current_user: @user} %>

Benachrichtigungen anzeigen: <%= notifications_url %>
<% if @notifications.length < @total_count %>
Du hast insgesamt <%=@total_count%> ungelesene Benachrichtigungen.<% end %>
