:plain
  Hallo #{@user.name},

  #{yield}

  Nichts mehr verpassen
  ---------------------

  Sofort, stündlich, täglich, wöchentlich, nie? Du kannst die Häufigkeit der Benachrichtigungen in den Einstellungen konfigurieren.
  #{my_notification_settings_url}

  ---------------------

  Twitter:  https://twitter.com/samarbeid_org
  LinkedIn: https://www.linkedin.com/in/lutz-maicher/
  GitHub:   https://github.com/samarbeid
